*{
    padding: 0%;
    margin: 0em;
    background-color: darkgray;
}

h1{
    font-family: monospace;
    font-size: 3em;
    font-weight: 700;
    font-style: italic;
    padding-bottom: 30px;
    padding-top: 20px;
    margin-left: 10px;
}
li{
    display: inline;
    padding: 9px;
}
li a {
    text-decoration: none;
    color: black;
    background-color: gray;
    padding: 5px;
    cursor: crosshair;
    border-radius: 10px;
    text-align: center;
}

marquee{
    text-align: center;
    font-size: 30px;
    color: azure;
    background-color: chartreuse;
    padding:20px;
    margin: 20px;
    border: 2px;
    border-color: black;
    border-radius: 50px;
}
a:hover{
    background-color: beige;
    font-size: 20px;
}
span{
    background-color: red;
    padding: 5px;

}
